<%- include("../partials/header.ejs") %>

    <%- include("../directors/director-entity.ejs", {
        director: director,
    }) %>
    <!-- <div class=" red-square">
        
    </div> -->
<%- include("../partials/footer.ejs") %>