<%- include("../partials/header.ejs") %>

<div class="section-pannel">
    <div class="grid row">
        <div class="col-md-10">
            <form autocomplete="off">
                <div class="row form-grid">
                    <div class="col-sm-6 col-lg-3">
                        <div class="input-view-flat input-group">
                            <select class="form-control" name="Жанр">
                                <option selected="true">Жанр</option>
                                <option>Экшн</option>
                                <option>Приключения</option>
                                <option>Комедия</option>
                                <!-- <option>crime</option> -->
                                <option>Детектив</option>
                                <option>Драма</option>
                                <option>Фэнтези</option>
                                <option>Мелодрама</option>
                                <!-- <option>romance</option> -->
                                <option>Супергерои</option>
                                <!-- <option>supernatural</option> -->
                                <option>Триллер</option>
                                <!-- <option>sport</option> -->
                                <!-- <option>historical</option> -->
                                <option>Ужасы</option>
                                <!-- <option>musical</option> -->
                                <!-- <option>sci-fi</option> -->
                                <!-- <option>war</option> -->
                                <!-- <option>western</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="input-view-flat date input-group" data-toggle="datetimepicker" data-target="#release-year-field">
                            <input class="datetimepicker-input form-control" id="release-year-field" name="releaseYear" type="text" placeholder="Дата релиза" data-target="#release-year-field" data-date-format="Y" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="input-view-flat input-group">
                            <select class="form-control" name="sortBy">
                                <option selected="true">Сортировка по</option>
                                <option>Наименование</option>
                                <option>Продолжительность</option>
                                <option>Рейтинг</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2 my-md-auto d-flex">
            <span class="info-title d-md-none mr-3">Select view:</span>
            <ul class="ml-md-auto h5 list-inline">
                <li class="list-inline-item">
                    <a class="content-link transparent-link" href="movies-blocks.html"><i class="fas fa-th"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="content-link transparent-link active" href="movies-list.html"><i class="fas fa-th-list"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<% for(const film of films) { %>
  <%- include("../films/film-entity.ejs", {
      film: film,
  }) %>
<% } %>

<div class="section-bottom">
    <div class="paginator">
        <a class="paginator-item" href="#"><i class="fas fa-chevron-left"></i></a>
        <a class="paginator-item" href="#">1</a>
        <span class="active paginator-item">2</span>
        <a class="paginator-item" href="#">3</a>
        <span class="paginator-item">...</span>
        <a class="paginator-item" href="#">10</a>
        <a class="paginator-item" href="#"><i class="fas fa-chevron-right"></i></a>
    </div>
</div>
<%- include("../partials/footer.ejs") %>